doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Todos
  body
    h1 Todo Form
    form(action='/save', method='POST')
      label(for='todo') Todo:
      br
      input#todo(type='todo', name='todo')
      br
      label(for='completed') Completed:
      br
      input#completed(type='checkbox', name='completed')
      br
      input(type='submit', value='Save')