doctype html
html
  head
    title {{.Title}}
    include ../partials/meta.pug
    link(href='https://fonts.googleapis.com/css?family=Lato:100', rel='stylesheet')
    link(href='/styles.css', rel='stylesheet')

  body
    include ../partials/header.pug
    h3 Layout File
    | {{embed}}
    include ../partials/footer.pug